.App {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;

    width: 90%;
    padding: 20px;
    max-width: 500px;
    background-image: url("https://cdn.pixabay.com/photo/2016/09/08/20/52/starry-sky-1655503__340.jpg");
    margin: 20px auto;
    font-family: fantasy;
}

@media (max-width: 320px) {
    .App {
      display: none;
    }
  }

h1 {
    color: yellow;
    font-size: 30px;
    text-shadow: 1px 2px gold;
    margin: 5px auto;
    text-align: center;
}